.dropbox
.DS_Store
.gcloudignore
/build
/bundle
/dist/esm
/dist/global
/dist/LICENSE.md
/dist/synth
/node_modules
/public/beepbox*.js
/public/beepbox*.js.map
/public/player/beepbox*.js
/public/player/beepbox*.js.map
/public/competition/**/beepbox*.js
/public/competition/**/beepbox*.js.map
/public/beepbox_offline.html
